html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

/*
enable camera covering the entire screen
*/
#camera, #camera--view, #camera--sensor, #camera--output{
	position: fixed;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/*
keep the camera button (colored white) fixed on the screen
add other style elements on the button is center bottom of screen
*/
#camera--trigger{
	width: 200px;
	background-color: white;
	color: black;
	font-size: 22px;
	border-radius: 30px;
	border: none;
	padding: 15px 20px;
	text-align: center;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
	position: fixed;
	bottom: 30px;
	left: calc(50% - 100px);
	/*changes priority on the page - button over overlay*/
	z-index: 1;
	opacity: 0.6;
}

/*
stylistic details of the overlay
*/
#overlay{
	background-image: tree.jpg;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	height: 100%;
	position: relative;
	object-fit: cover;
	top: 0px;
	left: 0px;
	overflow: hidden;
	/* change priority on the page - overlay below button*/
	z-index: 0;
	opacity: 0.3;
}

/*
styling for the image after it is taken
*/
.taken{
	height: 100px!important;
	width: 100px!important;
	transition: all 0.5s ease-in;
	border: solid 2px white;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
	top: 20px;
	right: 20px;
	z-index: 2;
}