html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

/*
enable camera covering the entire screen
*/
#camera, #camera--view, #camera--sensor, #camera--output{
	position: fixed;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/*
keep the camera button (colored red) fixed on the screen
add other style elements on the button is center bottom of screen
*/
#camera--trigger{
	width: 200px;
	background-color: brown;
	color: white;
	font-size: 22px;
	border-radius: 30px;
	border: none;
	padding: 15px 20px;
	text-align: center;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
	position: fixed;
	bottom: 30px;
	left: calc(50% - 100px);
}

/*
stylistic details of the overlay
*/
#overlay{
	/* half of the screen*/
	width: 50%;
	height: 100%;

	background-color: white;
	color: brown;
	font-size: 40px;
	padding: 500px 0;
	text-align: center;
	position: fixed;
	border: 2px dashed brown;
	margin: auto;
	/*transparency*/
	opacity: 0.3;
}

/*
styling for the image after it is taken
*/
.taken{
	height: 100px!important;
	width: 100px!important;
	transition: all 0.5s ease-in;
	border: solid 2px brown;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
	top: 20px;
	right: 20px;
	z-index: 2;
}